
/* 控制胸卡全局字体 */
/* 姓名 */
.name_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}
/* 公司 */
.company_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}
/* 职位 */
.position_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}
/* 国家省份 */
.country_province_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}
/* 展位号 */
.boothNum_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}
/* 种类 */
.category_span {font-family:FZLTCHJW-Bold,Arial,sans-serif;}










