body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,option,p,blockquote,th,td{margin:0;padding:0;}
* {outline: 0 none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
ul li{list-style: none;}
a{color:black;outline:0 none;text-decoration: none;cursor:pointer;}
table {border-collapse: collapse;}
img{border:0;}
body{
    font-family: "Microsoft YaHei","Arial";
    font-size: 14px;
    -webkit-tap-highlight-color:transparent;
    overflow-x: hidden;
}


.top{width: 100%;position: fixed;left: 0;top: 0;z-index: 3;visibility: hidden;
    background: url(../images/index_bg_nav.png) no-repeat;
    background-size: cover; 
}
.top .top_wrap{width: 93%;margin: 0 auto;}
.top .top_wrap .logo_wrap{float: left;line-height: 60px}
.top .top_wrap .logo_wrap img{vertical-align: middle;width: 150px; margin: 10px 0;}
.top .top_wrap .logo_wrap .logo_active{display: none;}
.top .top_wrap .top_nav{float: right;}
.top .top_wrap .top_nav li{position: relative;display: inline-block;line-height: 60px;height: 60px;padding-right: 50px;}
.top .top_wrap .top_nav li.active a,.top .top_wrap .top_nav li:hover a{color: #2b8cd5}
.top .top_wrap .top_nav li a{color: rgb(200, 200, 200);font-size: 16px;font-weight: bold;}
.top .top_wrap .top_nav li img{vertical-align: middle;}
.top .top_wrap .top_nav li.li_last{} 
.top .top_wrap .top_nav li.li_last img{margin-right: 5px} 
.top .top_wrap.active .logo_wrap{display: none;}
.cebian{display: none;}
.top .top_wrap .top_nav li.li_search .icon_active{display: none;}
.top .top_wrap .top_nav li.li_search:hover .icon{display: none;}
.top .top_wrap .top_nav li.li_search:hover .icon_active{display: inline-block;}
.top .top_wrap .top_nav li.li_search .icon_02{display: none;}
.pageinner{overflow: hidden;position: relative;}

.search_form {
    position: absolute;
    left: 24px;
    top: 0;
    z-index: 100;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    
   
}
.search_form.active {
    width: 191px;
}
.search_input {
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-weight: 300;

}
.top .top_wrap .top_nav li .search_form {
    line-height: 28px;
    background-color: #fff;
}

.search_submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 28px;
    border: none;
    color: #fff;
    background-color: #28a6e0;
    font-size: 16px;
    padding: 0 5px;
    
    cursor: pointer;
}


.top.active{background: #fff;display: none;}
.top.active .top_wrap .top_nav li a{color: #333}
.top.active .top_wrap .top_nav li.active >a,.top .top_wrap .top_nav li:hover a{color: #2b8cd5}
.top.active .top_wrap.active .logo_wrap{display:block;}
/*.top.active{background: #fff}
.top.active .top_nav li a{color: #333}
.top.active .top_wrap .logo_wrap .logo_active{display:inline-block;}
.top.active .top_wrap .logo_wrap .logo{display:none;}
.top.active .top_wrap.active .logo_wrap{display: block;}
.top.active .top_wrap .top_nav li.li_search .icon_02{display:inline-block;}
.top.active .top_wrap .top_nav li.li_search .icon{display: none;}
.top.active .top_wrap .top_nav li.li_search:hover .icon_02{display: none;}
.top.active .top_wrap .top_nav li.li_search:hover .icon_active{display: inline-block;}*/
.nav_item_list {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    width: 150%;
    background-color: rgba(102, 102, 102, 0.5);
}
.top .top_wrap .top_nav li .nav_item_list p {
    line-height: 35px;
}
.top .top_wrap .top_nav li .nav_item_list p a{
    line-height: 30px;
    padding: 0 5px;
    color: #fff;
    line-height: 22px;
    font-weight: 600;
    padding-left: 10px;
    font-size: 14px;
}
.top .top_wrap .top_nav li .nav_item_list p:hover a {
    color: #2b8cd5;
}
.top .top_wrap .top_nav li:hover .nav_item_list {
    display: block;
}




.banner{position: relative;overflow: hidden;}
.banner .slider{position: relative;}
.banner .slider li{float: left;position: relative;}
.banner .slider .fss-wrapper{float: left}
.banner .slider li img{width: 100%}
.banner .pagination{width: 100%;position: absolute;text-align: center;left: 0;bottom: 1%;z-index: 1}
.banner .pagination a{display: inline-block;width: 12px;height: 12px;font-size: 0;margin:0 7px;border-radius:25px;border: 1px solid #fff}
.banner .pagination a:hover,.banner .pagination a.selected{background: #fff}
.banner .btn_wrap{position: absolute;width: 100%;left: 0;bottom: 6%;text-align: center;}
.banner .btn_wrap a.btn{
    display: inline-block;
    width: 250px;
    height: 85px;
    border: 2px solid rgb(62,140,203);
    background: rgb(62,140,203);
    margin: 0 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    line-height: 55px;
}
.banner .btn_wrap a.btn>div {
    display: inline-block;
    vertical-align: middle;
}
.banner .btn_wrap a.btn img{vertical-align: middle;margin-right: 10px}
.banner .btn_wrap a.btn:hover{background: rgb(107, 171, 26); border-color: rgb(107, 171, 26);}
.banner .btn_wrap a.wfEditorMode {float: left;}
.banner .btn_wrap a.wfEditorMode:last-child {float: right;}
body.wfEditorMode .banner>a.wfEditorMode{position: absolute;top: 40%;z-index: 3}
body.wfEditorMode .banner li a.wfEditorMode{position: absolute;top: 45%;left: 25%;z-index: 10}

.pr {position: relative;}
.index_wrap{width: 100%;background: #fff;position: relative;overflow:hidden;z-index: 2}

.index_content{width: 1370px;margin: 60px auto 0;padding-bottom: 60px;
    /* background: url(../images/inside_bg.png) 0 50px; */
}
.index_content .index_nav_wrap{margin-bottom: 50px}
.index_content .index_nav_wrap .index_nav{overflow: hidden;} 
.index_content .index_nav_wrap .index_nav li{float: left;width: 33.3333%;height: 300px;position: relative;text-align: center;overflow: hidden;} 
.index_content .index_nav_wrap .index_nav li a{display: inline-block;width: 100%;height: 100%}

.index_content .index_nav_wrap .index_nav li a.wfEditorMode{display: inline-block;width: auto;height: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    z-index: 100000;
}

.index_content .index_nav_wrap .index_nav li .bg{width: 100%;transition: all 1s;-webkit-transition: all 1s}
.index_content .index_nav_wrap .index_nav li.li2{background: rgb(233,73,92)}
.index_content .index_nav_wrap .index_nav li.li4{background: rgb(91,158,208)}
.index_content .index_nav_wrap .index_nav li.li6{background: rgb(221,120,38)}
.index_content .index_nav_wrap .index_nav li .text{position: absolute;font-size: 20px;color: #fff;width: 100%;left: 0;top: 50%;line-height: 40px;margin-top: -20px} 
.index_content .index_nav_wrap .index_nav li .icon_box{position: absolute;width: 100%;left: 0;margin-top: -52px;top: 50%;}
.index_content .index_nav_wrap .index_nav li .icon_box p{line-height: 40px;color: #fff;font-size: 18px;}
.index_content .index_nav_wrap .index_nav li:hover .bg{transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1)}
.index_content .index_nav_wrap .index_nav .yd_show{display: none;}
.index_content .index_exhibition{position: relative;}
.index_content .index_exhibition .title_cn{font-size: 30px;color: #333} 
.index_content .index_exhibition .text_cont{margin: 10px 0}
.index_content .index_exhibition .text_cont p{font-size: 14px;line-height: 25px;color: #333}
.index_content .index_exhibition .text_list {}
.index_content .index_exhibition .text_list li{line-height: 25px;color: #444;font-size: 15px;padding-left: 20px;background: url(../images/index_kuang.png) no-repeat left center;}
.index_content .index_exhibition .read_more{display: inline-block;width: 180px;height: 50px;border-radius: 25px;line-height: 50px;border: 1px solid rgb(62,140,203);text-align: center;position: absolute;right: 0;bottom: 0;color:rgb(62,140,203) }
.index_content .index_exhibition .read_more:hover{background:rgb(62,140,203);color: #fff}
.index_content .index_logo_wrap{margin-top: 60px}
.index_content .index_logo_wrap .title_cn{text-align: center;color:#2b8cd5;font-size: 30px;margin-bottom: 40px}
.index_content .index_logo_slider{}
.index_content .index_logo_slider li {float: left;text-align: center;}
.index_content .index_logo_slider li .logo_wrap{height: 180px;line-height: 180px;position: relative;border: 1px solid rgb(220,220,220);cursor: pointer;}
.index_content .index_logo_slider li .logo_wrap .bg{vertical-align: middle;max-width: 90%;max-height: 90%}
.index_content .index_logo_slider li .logo_wrap .text_wrap{line-height: 200px;position: absolute;left: 0;top: 0;padding:0 5%;width: 90%;height: 100%;background: rgb(62,140,203);display: none}
.index_content .index_logo_slider li .logo_wrap .text_wrap .text_box{display: inline-block;line-height: normal;vertical-align: middle;}
.index_content .index_logo_slider li .logo_wrap .text_wrap .text_box .text01{color: #fff;font-size: 22px;}
.index_content .index_logo_slider li .logo_wrap .text_wrap .text_box .line{width: 20px;height: 2px;background: #fff;margin: 10px auto}
.index_content .index_logo_slider li .logo_wrap .text_wrap .text_box p{line-height: 21px;color: #fff;}
.index_content .index_logo_slider li .logo_wrap:hover .text_wrap{display: block;}
.index_content .index_logo_wrap .pagination02{text-align: center;margin-top: 20px}
.index_content .index_logo_wrap .pagination02 a{display: inline-block;width: 10px;height: 10px;font-size: 0;margin:0 5px;border-radius:25px;border: 1px solid rgb(230,10,18)}
.index_content .index_logo_wrap .pagination02 a:hover,.index_content .index_logo_wrap .pagination02 a.selected{background: rgb(230,10,18)}

.news{width: 100%;padding: 60px 0;background: rgb(231,237,245)}
.news .news_wrap{width: 1370px;margin: 0 auto}
.news .news_wrap .news_left{float: left;width: 61%}
.news .news_wrap .news_left .news_title{font-size: 25px;color: #2b8cd5;margin-bottom:10px}
.news .news_wrap .news_left .news_title a{float: right;color:#2b8cd5;font-size: 22px}
.news .news_wrap .news_left .news_list{border-bottom: 1px solid rgb(200,200,200)}
.news .news_wrap .news_left .news_list li{overflow: hidden;border-top: 1px solid rgb(200,200,200);padding: 13px 0} 
.news .news_wrap .news_left .news_list li .title_wrap{float: left;width: 80%;color: #333} 
.news .news_wrap .news_left .news_list li .time_wrap{float:right;width: 15%;text-align: right;color: #333} 
.news .news_wrap .news_left .news_list li:hover .title_wrap{color:#2b8cd5 }
.news .news_wrap .news_left .news_list li:hover .time_wrap{color:#2b8cd5}
.news .news_wrap .news_right{float: right;width: 35%;padding-top: 43px}
.news .news_wrap .news_right .right_imgwrap{}
.news .news_wrap .news_right .right_imgwrap img{width: 100%} 
.news .news_wrap .news_right .right_title{line-height: 40px;color: #333;font-size: 16px;font-weight: bold;}
.news .news_wrap .news_right .right_time{color: #666;margin-bottom: 5px}
.news .news_wrap .news_right .right_cont{}
.news .news_wrap .news_right .right_cont p{font-size: 14px;line-height: 24px;color: #555}
.news .news_wrap .news_right .right_cont p:hover{color: #2b8cd5}
.news .news_wrap .news_right .right_title:hover{color: #2b8cd5}

.index_partner{width: 1370px;margin: 60px auto 0;padding-bottom: 60px }
.index_partner .title_cn{font-size: 25px;color: #2b8cd5;padding-bottom: 15px;border-bottom: 1px solid  rgb(220,220,220)}
.index_partner .title_cn .btn_wrap{float: right;}
.index_partner .title_cn .btn_wrap a{display: inline-block;width: 26px;height: 26px;font-size: 0}
.index_partner .title_cn .btn_wrap a.arrow01{background: url(../images/arrow01.png);} 
.index_partner .title_cn .btn_wrap a.arrow01:hover{background: url(../images/arrow01_active.png);}
.index_partner .title_cn .btn_wrap a.arrow02{background: url(../images/arrow02.png);margin-left: 20px}
.index_partner .title_cn .btn_wrap a.arrow02:hover{background: url(../images/arrow02_active.png);}
.index_partner .partner_slider{margin-top: 20px}
.index_partner .partner_slider li{float: left;text-align: center;}
.index_partner .partner_slider li img{max-width: 80%;}

.footer{background:rgb(220,224,227);position: relative;z-index: 2}
.footer .footer01{width:1370px;padding: 50px 0 40px;margin: 0 auto}
.footer .footer01 .main_li{float: left;width: 27%;margin-right:9.5%}
.footer .footer01 .main_li.main_li03{margin-right: 0}
.footer .footer01 .main_li .main_nav{font-size: 16px;display:block;font-weight: bold;color: #333}
.footer .footer01 .main_li .line{width: 100%;height: 1px;background:url(../images/footer_line.png);margin: 20px 0}
.footer .footer01 .main_li img{display: block;max-width: 100%;margin-bottom: 20px}
.footer .footer01 .main_li .contact_footer{}
.footer .footer01 .main_li .contact_footer .address_list{}
.footer .footer01 .main_li .contact_footer .address_list li{display: inline-block;cursor:pointer;font-size: 15px;font-weight: bold;color: #444;padding: 0 3px 5px;margin-right: 15px}
.footer .footer01 .main_li .contact_footer .address_list li.active,.footer .footer01 .main_li .contact_footer .address_list li:hover{border-bottom: 2px solid #666}
.footer .footer01 .main_li .contact_footer .contact_list{
    margin-bottom: 30px;
}
.footer .footer01 .main_li .contact_footer .contact_list li{margin-top: 10px;display: block;}
.footer .footer01 .main_li .contact_footer .contact_list li.active{display: block;}
.footer .footer01 .main_li .contact_footer .contact_list li p{line-height: 30px;color: #333;position: relative;padding-left: 32px;font-size: 15px}
.footer .footer01 .main_li .contact_footer .contact_list li p img{margin-bottom: 0;position: absolute;left: 0;top: 6px}
.footer .footer_line{width: 100%;height: 1px;background:url(../images/footer_line.png)}
.footer .footer02{width:1370px;line-height: 50px;margin: 0 auto;color: #666}
.footer .footer02 .share_wrap{float: right;}
.footer .footer02 .share_wrap li{display: inline-block;margin-left: 20px}
.footer .footer02 .share_wrap li img{vertical-align: middle;}


.inside_banner{position: relative;}
.inside_banner .bg{width: 100%;vertical-align: bottom;}

.bread{width: 100%;height: 50px;line-height: 50px;background: rgb(231,237,245)}
.bread .bread_wrap{width: 1370px;margin: 0 auto}
.bread .bread_wrap li{display: inline-block;}
.bread .bread_wrap li a{color: #333}
.bread .bread_wrap li a:hover,.bread .bread_wrap li.active a{color: #2b8cd5}
.bread .bread_wrap span{color: #333;margin: 0 5px}

.inside_content{
    width:1370px;
    margin: 0 auto;
    overflow: hidden;
    padding:40px 0 80px;
    
}
.inside_content .inside_left{float: left;
    width: 20%;
    
}
.inside_content .inside_left .inside_left_title{font-size: 24px;color: #333;
    line-height: 48px;padding-bottom: 5px;border-bottom: 1px solid rgb(200,200,200);
    padding-left: 15px;
    background-color: #f6f8fb;
}
.left_side_link {
    margin-top: 50px;
}
.left_side_link li {
    padding: 20px 15px;
    text-align: center;
    
    margin-bottom: 20px;
}
.left_side_link li img {
    margin-right: 10px;
}
.left_side_link li img,
.left_side_link li span {
    display: inline-block;
    vertical-align: middle;
}
.left_side_link li.s_link_1 {
    background-color: #28a6e0;
}
.left_side_link li.s_link_2 {
    background-color: #00baff;
}
.left_side_link li a {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
.inside_content .inside_left .left_nav{background-color:  #f6f8fb;}
.inside_content .inside_left .left_nav li{padding: 15px 15px;border-bottom: 1px dashed rgb(200,200,200)}
.inside_content .inside_left .left_nav li a{font-size: 15px;color: #555;font-weight: bold;display:inline-block;width: 100%}
.inside_content .inside_left .left_nav li a:hover{color:#2b8cd5}
.inside_content .inside_left .left_nav li.active a{color:#2b8cd5}
.inside_content .inside_right{float: right;width:75%}
.inside_content .inside_right .inside_right_title{font-size: 26px;line-height:60px;color: #333;padding-bottom: 5px;border-bottom: 1px solid rgb(200,200,200);margin-bottom: 40px}
.content.showover {
    overflow: auto;
    height: 100%;
}

.inside_content .lunwen_wrap{} 
.inside_content .lunwen_wrap .way_title{font-size: 18px;padding: 0 0 15px;border-bottom:1px solid rgb(200,200,200);margin-top: 30px} 
.inside_content .lunwen_wrap .way_time{float: right;font-weight:normal;}
.inside_content .lunwen_wrap .way02_title{color:#4179f0;font-size: 16px;font-weight: bold;margin: 15px 0} 
.inside_content .lunwen_wrap .cont_p{padding-bottom: 10px;margin:15px 0 }
.inside_content .lunwen_wrap .cont_p p{font-size: 14px;line-height: 26px;color: #666}
.inside_content .lunwen_wrap .lunwen_download{display: block;line-height: 35px;font-size: 15px;color: #333;margin: 15px 0;padding-left: 40px;background: url(../images/pdf_icon.png) no-repeat left center;}
.inside_content .lunwen_wrap .lunwen_download img{vertical-align: middle;margin-left: 10px}
.inside_content .lunwen_wrap .lunwen_download:hover{color: #2b8cd5}

.canhui_wrap{position: relative;}
.canhui_wrap .bg{width: 100%;vertical-align: bottom;}
.canhui_wrap .text_bg{position: absolute;left: 5%;top: 20%}
.canhui_wrap .zhuce_btn{display: inline-block;width: 180px;height: 50px;line-height: 50px;text-align: center;color: #fff;border: 1px solid #fff;border-radius: 25px;position: absolute;left: 5%;bottom: 15%}

.schedule_wrap{}
.schedule_wrap .title_cn{font-size: 20px;color:#4179f0;margin-bottom: 15px}
.schedule_wrap .cont_p{}
.schedule_wrap .cont_p p{font-size: 14px;line-height: 25px;color: #666}
.schedule_wrap .date_list_wrap{width: 100%;border-bottom: 2px solid rgb(65,121,240);margin-top: 30px;position: relative;}
.schedule_wrap .date_list_wrap .date_list_slider{width: 80%}
.schedule_wrap .date_list_wrap .btn_wrap{position: absolute;right: 0;bottom: 0;line-height: 50px;display: none;}
.schedule_wrap .date_list_wrap a{display: inline-block;width: 26px;height: 26px;font-size: 0;vertical-align: middle;}
.schedule_wrap .date_list_wrap a.a_btn{display: inline-block;padding: 15px;width: auto;height: auto;font-size: 16px;vertical-align: middle; color: #333;}

.schedule_wrap .date_list_wrap .date_list li.active a.a_btn {color: #fff;}
.schedule_wrap .date_list_wrap .date_list li:hover a.a_btn {color: #fff;}

body.wfEditorMode .table_list li>a {
    float: left;
    margin-top: 0;
}
.pr {
    position: relative;
}
.schedule_wrap .date_list_wrap a.arrow01{background: url(../images/arrow01.png);}
.schedule_wrap .date_list_wrap a.arrow01:hover{background: url(../images/arrow01_active.png);}
.schedule_wrap .date_list_wrap a.arrow02{background: url(../images/arrow02.png);margin-left: 20px}
.schedule_wrap .date_list_wrap a.arrow02:hover{background: url(../images/arrow02_active.png);}
.schedule_wrap .date_list{overflow: hidden;}
.schedule_wrap .date_list li{float: left;color: #333;font-size: 15px;cursor:pointer;text-align: center;}
.schedule_wrap .date_list li:hover,.schedule_wrap .date_list li.active{background: rgb(65,121,240);color: #fff}
.schedule_wrap .table_list{margin: 30px 0}
.schedule_wrap .table_list_yd{display: none;}
.schedule_wrap .table_list li{} 
.schedule_wrap .table_list li table{width: 100%;text-align: center;color: #333} 
.schedule_wrap .table_list li table th{border: 1px solid rgb(220,220,220);padding: 20px 0;text-align: center;width: 11.11%;}
.schedule_wrap .table_list li table td{border: 1px solid rgb(220,220,220);padding: 20px 0;color: #fff;}
.schedule_wrap .table_list li table td.black{border: 1px solid rgb(220,220,220);padding: 20px 0;color: #000;}


.schedule_wrap .table_list li table td p{line-height: 23px;padding: 5px 0}
.schedule_wrap .table_list li table td:nth-of-type(1){color: #333}
.technical_theme{}
/*.technical_theme form{width: 50%;margin: 0 auto 30px} 
.technical_theme input{padding: 20px;padding-left: 50px;width: 90%;border: 1px solid rgb(220,220,220);color: #666;font-size: 15px;border-radius: 50px;background: url(../images/jishu_search.png) no-repeat 20px center;}*/
.technical_theme .theme_list{}
.technical_theme .theme_list .main_li{border-bottom: 1px dashed rgb(200,200,200)}
.technical_theme .theme_list .main_li .show{font-size: 16px;color: #333;padding:15px 40px 15px 0;line-height: 25px;cursor:pointer;background: url(../images/jishu_icon.png) no-repeat 99% center;}
.technical_theme .theme_list .main_li .show:hover{color: #4179f0}
.technical_theme .theme_list .main_li.active .show{color:#4179f0;background: url(../images/jishu_icon_active.png) no-repeat 99% center;} 
.technical_theme .theme_list .main_li .hidden{padding-bottom: 30px;display: none;}
.technical_theme .theme_list .main_li .hidden table{width: 100%;text-align: center;} 
.technical_theme .theme_list .main_li .hidden table th{padding: 15px 0;border: 1px solid rgb(220,220,220);font-size: 15px;color:#4179f0;background: rgb(249,250,252);text-align: center;}
.technical_theme .theme_list .main_li .hidden table td{padding: 15px 0;border: 1px solid rgb(220,220,220);font-size: 15px;color: #666;cursor: pointer;}
.technical_theme .theme_list .meeting_title_hidden {display: none;}


.floorplan{width: 94%;padding: 40px 3%;
    /* background: rgb(244,244,244) */
}
.floorplan .bg{width: 100%}
.inside_content .inside_left .left_nav .left_side_link li {
    border: none;
}
.inside_content .inside_left .left_nav .left_side_link li a {
    color: #fff;
    display: block;
}
.inside_content .inside_left .left_nav .left_side_link li a span{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.inside_content .inside_left .left_nav .left_side_link li a img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.exhibitors_wrap{}
.exhibitors_wrap .bg{width: 100%}
.exhibitors_wrap .btn_wrap {width: 100%;text-align: center;margin: 40px 0}
.exhibitors_wrap .btn_wrap a{display: inline-block;width: 200px;height: 70px;border: 2px solid rgb(62,140,203);background: rgb(62,140,203);margin: 0 30px;line-height: 70px;border-radius: 10px;color: #fff;font-size: 20px}
.exhibitors_wrap .btn_wrap a img{vertical-align: middle;margin-right: 10px}
.exhibitors_wrap .btn_wrap a img.icon_active{display: none;} 
.exhibitors_wrap .btn_wrap a:hover{color:rgb(62,140,203);background: none}
.exhibitors_wrap .btn_wrap a:hover img.icon_active{display: inline-block;} 
.exhibitors_wrap .btn_wrap a:hover img.icon{display:none;} 
.exhibitors_wrap .title_cn{font-size: 20px;color:#4179f0;padding-bottom: 10px;border-bottom: 2px solid rgb(220,220,220)}
.exhibitors_wrap .exhibitors_list{margin-bottom: 40px}
.exhibitors_wrap .exhibitors_list li{margin: 30px 0;padding-left: 20px;background: url(../images/exhibitor_title_icon.png) no-repeat left 6px;} 
.exhibitors_wrap .exhibitors_list li .text_title{font-size: 16px;color: #333;font-weight: bold;margin-bottom: 5px;} 
.exhibitors_wrap .exhibitors_list li .text_p{color: #666;font-size: 15px;line-height: 25px} 

.three_img_wrap{}
.three_img_wrap img{vertical-align: bottom;width: 100%}
.three_img_wrap .three_img_top{overflow: hidden;}
.three_img_wrap .three_img_top .three_left{float: left;width: 49%}
.three_img_wrap .three_img_top .three_right{float: right;width: 49%}
.three_img_wrap .three_img_bottom{margin-top: 10px}

.apply_wrap{}
.apply_wrap .title_cn{font-size: 20px;color:#4179f0} 
.apply_wrap .apply_list{}
.apply_wrap .apply_list li{margin: 20px 0}
.apply_wrap .apply_list li .li_title{font-size: 16px;color: #333;font-weight: bold;margin-bottom: 10px} 
.apply_wrap .apply_list li .li_title span{color: red;padding-left: 5px}
.apply_wrap .apply_list li input{width: 60%;padding: 10px;border: 1px solid rgb(200,200,200);font-size: 15px;color: #333}
.apply_wrap .apply_list li div.error input{border-color: red}
.apply_wrap .apply_list li select{width: 62.5%;padding: 10px;border: 1px solid rgb(200,200,200);}
.apply_wrap .apply_list li textarea{width: 60%;padding: 10px;border: 1px solid rgb(200,200,200);font-family:"Microsoft YaHei","Arial";height: 100px}
.apply_wrap .apply_list li .choice_wrap{width: 62.5%;overflow: hidden;}
.apply_wrap .apply_list li .choice_wrap a{display:block;width: 49%;height: 40px;line-height: 40px;float: left;text-align: center;border: 1px solid rgb(200,200,200)}
.apply_wrap .apply_list li .choice_wrap a.active,.apply_wrap .apply_list li .choice_wrap a:hover{background: #4179f0;color: #fff;border-color: #4179f0}
.apply_wrap .apply_list li .choice_wrap a.choice02 {float: right;}
.apply_wrap .btn_submit{width: 62.5%;text-align: center;margin-top: 50px}
.apply_wrap .btn_submit a{display: inline-block;width: 150px;height: 45px;line-height: 45px;border: 2px solid #4179f0;font-size: 16px;color:#4179f0;font-weight: bold;border-radius: 50px}
.apply_wrap .btn_submit a:hover{color: #fff;background: #4179f0}
.apply_wrap  input.hidden_input{display: none;}

.shouce_wrap{}
.shouce_wrap .title_cn{font-size: 20px;color:#4179f0} 
.shouce_wrap .shouce_list{overflow: hidden;border-top: 1px dashed rgb(200,200,200);margin: 10px 0 30px}
.shouce_wrap .shouce_list li{float: left;width: 40%;background: url(../images/shouce_icon01.jpg) no-repeat left center;padding: 15px 5%;border-bottom: 1px dashed rgb(200,200,200);font-size: 15px;font-weight: bold;position: relative;}
.shouce_wrap .shouce_list li img{position: absolute;right: 13px;top: 13px}
.shouce_wrap .shouce_list li .href_a{color: #333;display: block;width: 100%;height: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shouce_wrap .shouce_list li:hover a{color: #4179f0}


.pager {width: 100%;text-align: center;margin-top: 30px;}
.pager li {display: inline-block;margin: 0 10px;}
.pager li a {display: inline-block;padding: 3px;color: #666;vertical-align: bottom;border-bottom: 1px solid #fff;}
.pager li:hover a, .pager li.selected a{color: #4179f0;border-color: #4179f0;}
.pager li.previous a, .pager li.next a{width: 24px;height: 24px;background: url(../images/pager_pre.jpg) no-repeat;padding: 0;font-size: 0;border: none;}
.pager li.next a{background: url(../images/pager_next.jpg) no-repeat;}
.pager li.first,.pager li.last{display: none;}

.hall_wrap{background: rgb(245,245,245);padding: 30px 0;position: relative;}
.hall_wrap .list_wrap{width: 95%;margin: 0 auto}
.hall_wrap .hall_list{}
.hall_wrap .hall_list li{float: left;text-align: center;}
.hall_wrap .hall_list li img{max-width: 100%;max-height: 100%}
.hall_wrap .list_wrap .arrow01{display: inline-block;width: 22px;height: 39px;background: url(../images/hall_arrow01.png);position: absolute;left: 5px;top: 50%;margin-top: -19.5px}
.hall_wrap .list_wrap .arrow01:hover{background:  url(../images/hall_arrow01_active.png)}
.hall_wrap .list_wrap .arrow02{display: inline-block;width: 22px;height: 39px;background: url(../images/hall_arrow02.png);position: absolute;right: 5px;top: 50%;margin-top: -19.5px}
.hall_wrap .list_wrap .arrow02:hover{background:  url(../images/hall_arrow02_active.png)}


#search_form{width: 50%;margin: 0 auto 30px;position: relative;} 
#search_form input{padding: 20px;padding-left: 50px;width: 90%;border: 1px solid rgb(220,220,220);color: #666;font-size: 15px;border-radius: 50px;}
#search_form input.btn{position: absolute;width: 22px;height: 22px;padding: 0;border-radius: 0;left: 22px;top: 50%;margin-top: -11px;cursor:pointer;background: url(../images/jishu_search.png);font-size: 0;border: none;} 

.online_wrap{}
.online_wrap .title_cn{color:#4179f0;font-size: 20px;padding-bottom: 15px;border-bottom: 1px solid rgb(200,200,200)}
.online_wrap .title_cn .time_box{float: right;font-size: 14px;color: #666;line-height: 42px}
.online_wrap .title_cn .time_box img{vertical-align: middle;margin-left: 5px}
.online_wrap .zh_themes_list{padding: 20px;background: rgb(245,245,245);margin: 20px 0 35px;display: none;}
.online_wrap .zh_themes_list li{display: inline-block;width: 22%;padding-left: 2%;vertical-align: top;margin: 10px 0}
.online_wrap .zh_themes_list li a{color: #333;font-size: 15px;line-height: 24px;font-weight: bold;}
.online_wrap .zh_themes_list li a:hover{color:#4179f0}
.online_wrap .company_list{overflow: hidden;margin-top: 20px}
.online_wrap .company_list li{float: left;width: 30%;padding: 20px 1%;margin-right: 1.6%;border: 1px solid rgb(220,220,220);margin-bottom: 20px}
.online_wrap .company_list li:hover{background: rgb(245,245,245)}
.online_wrap .company_list li .com_top{}
.online_wrap .company_list li .left{float: left;width: 100px;height: 100px;background: #fff;line-height: 100px;box-shadow: 0 0 5px rgb(200,200,200)}
.online_wrap .company_list li .left img{vertical-align: middle;max-width: 100%;max-height: 100%}
.online_wrap .company_list li .right{float: right;width: 57%}
.online_wrap .company_list li .right .company_title{font-size: 16px;color: #333;font-weight: bold;}
.online_wrap .company_list li .right .company_num{font-size: 15px;color: #333;margin:10px 0;font-weight: bold;}
.online_wrap .company_list li .right .company_tel{font-size: 15px;color: #333;background: url(../images/company_tel.png) no-repeat left 1px;padding-left: 17px}
.online_wrap .company_list li .com_cont{margin-top: 15px;height: 75px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.online_wrap .company_list li .com_cont p{font-size: 14px;color: #333;line-height: 25px}

.online_detail_wrap{}
.online_detail_wrap .detail_cont{padding: 30px;background: rgb(245,245,245);overflow: hidden;}
.online_detail_wrap .detail_cont .left{float: left;}
.online_detail_wrap .detail_cont .right{float: right;}
.online_detail_wrap .detail_cont .left .img_wrap{display: inline-block;width: 150px;height: 150px;line-height: 150px;text-align: center;background: #fff}
.online_detail_wrap .detail_cont .left .img_wrap img{vertical-align: middle;max-width: 95%;max-height: 95%}
.online_detail_wrap .detail_cont .left .text_wrap{display: inline-block;vertical-align: middle;margin-left: 15px}
.online_detail_wrap .detail_cont .left .text_wrap .text_title{font-size: 18px;color: #555;font-weight: bold;line-height: 30px}
.online_detail_wrap .detail_cont .left .text_wrap .text_num{font-size: 15px;color: #666;font-weight:bold;margin: 20px 0 5px}
.online_detail_wrap .detail_cont .left .text_wrap .text_tel{color: #444;background: url(../images/company_tel.png) no-repeat left center;padding-left: 20px}
.online_detail_wrap .detail_cont .right .contact_list{margin-top: 15px}
.online_detail_wrap .detail_cont .right .contact_list li{float: left;margin-left: 20px}
.online_detail_wrap .detail_title{font-size: 20px;color: #333;margin: 20px 0 10px}
.online_detail_wrap .img_box{position: relative;}
.online_detail_wrap .img_box .bg{vertical-align: bottom;max-width: 100%}
.online_detail_wrap .cont_p{text-align: center;width: 95%;margin: 20px auto}
.online_detail_wrap .cont_p p{font-size: 14px;line-height: 25px;color: #333}
.online_detail_wrap .product_list{overflow: hidden;margin-top: 30px}
.online_detail_wrap .product_list li{display: inline-block;width: 48%;vertical-align: top;}
.online_detail_wrap .product_list li .product_title{color:#4179f0;font-size: 16px;font-weight: bold;margin-bottom: 15px}
.online_detail_wrap .product_list li .product_cont{}
.online_detail_wrap .product_list li .product_cont p{color: #666;line-height: 25px}


.hotel_wrap{}
.hotel_wrap .title_cn{font-size: 18px;}
.hotel_wrap .title_cn span{color:#333;font-size: 14px}
.hotel_wrap .che_list{margin: 20px 0}
.hotel_wrap .che_list li{float: left;width: 48%;line-height: 25px;padding:5px 0;border-bottom: 1px dashed rgb(200,200,200);font-size: 15px;color: #333}
.hotel_wrap .che_list li img{vertical-align: middle;margin: 0 7px}
.hotel_wrap .che_list li span{float: right;}
.hotel_wrap .zhu_tip{color: #666}
.hotel_wrap .hotel_list{margin-top: 40px}
.hotel_wrap .hotel_list .main_li{border: 1px solid rgb(220,220,220);margin-bottom: 30px}
.hotel_wrap .hotel_list .main_li .show{padding: 20px;font-size: 16px;font-weight: bold;cursor:pointer;color: #333;background: rgb(231,237,245) url(../images/hotel_jia.png) no-repeat 97% center;}
.hotel_wrap .hotel_list .main_li.active .show{color: #2b8cd5;background: url(../images/hotel_jian.png) no-repeat 97% center;}
.hotel_wrap .hotel_list .main_li .hidden{overflow: hidden;padding: 20px;display: none;position: relative;}
.hotel_wrap .hotel_list .main_li .hidden .hidden_left{float: left;width: 40%}
.hotel_wrap .hotel_list .main_li .hidden .hidden_left img{vertical-align: bottom;max-width: 100%}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right{float: right;width: 55%}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .hidden_title{font-size: 16px;color: #333;font-weight: bold;margin-bottom: 15px}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .hidden_cont{}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .hidden_cont p{font-size: 16px;line-height: 25px;color: #333}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .star_wrap{margin: 20px 0}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .money_wrap{} 
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .money_wrap p{color: #333;line-height: 25px}
.hotel_wrap .hotel_list .main_li .hidden .hidden_right .address_wrap{color: #333;font-size: 15px;margin-top: 15px}
.hotel_wrap .hotel_list .main_li .hidden .yuding_btn{display: inline-block;width: 130px;height: 40px;line-height: 40px;position: absolute;right: 20px;bottom: 20px;border: 2px solid #4179f0;text-align: center;border-radius: 50px;color:#4179f0;font-size: 15px;}
.hotel_wrap .hotel_list .main_li .hidden .yuding_btn:hover{color: #fff;background:#4179f0 }


.problem_wrap{}
.problem_wrap .problem_title{font-size: 18px;color: #333;font-weight: bold;margin: 10px 0 10px}
.problem_wrap .problem_list{}
.problem_wrap .problem_list .main_li{border: 1px solid rgb(220,220,220);margin-bottom: 15px} 
.problem_wrap .problem_list .main_li .show{padding: 5px;font-size: 16px;font-weight: bold;cursor:pointer;color: #444;background: rgb(231,237,245) url(../images/hotel_jia.png) no-repeat 97% center;}  
.problem_wrap .problem_list .main_li .hidden{padding: 20px;display: none;}
.problem_wrap .problem_list .main_li .hidden p{color: #333;font-size: 14px;line-height: 25px}
.problem_wrap .problem_list .main_li.active .show{background: url(../images/hotel_jian.png) no-repeat 97% center;color: #4179f0 }




.news_wrap{}
.news_wrap .news_list{border-top: 1px dashed rgb(200,200,200)}
.news_wrap .news_list li{overflow: hidden;padding: 15px 0;border-bottom: 1px dashed rgb(200,200,200)}
.news_wrap .news_list li .title_text{float: left;width: 85%;color: #555;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;} 
.news_wrap .news_list li .time_text{float: right;width: 13%;color: #555;} 
.news_wrap .news_list li:hover .title_text{color: #4179f0}
.news_wrap .news_list li:hover .time_text{color: #4179f0}


.news_detail_wrap{}
.news_detail_wrap .detail_title{text-align: center;color:#2b8cd5;font-size: 20px;padding-bottom: 15px;border-bottom: 1px dashed rgb(200,200,200)}
.news_detail_wrap .time_wrap{line-height: 30px;overflow: hidden;margin-top: 10px}
.news_detail_wrap .time_wrap .people{float: left;color: #666}
.news_detail_wrap .time_wrap .time{float: right;color: #666}
.news_detail_wrap .news_cont{margin-top: 25px}
.news_detail_wrap .news_cont p{font-size: 14px;line-height: 26px;color: #666;margin-bottom: 10px}
.news_detail_wrap .news_cont img{display: block;max-width: 100%;margin:15px auto;}


.download_wrap{}
.download_wrap .download_title{overflow: hidden;}
.download_wrap .download_title .left{float: left;}
.download_wrap .download_title .left .title_cn{font-size: 20px;color:#4179f0}
.download_wrap .download_title .left p{color: #333;font-size: 15px;margin-top: 10px}
.download_wrap .download_title .right{float: right;margin-top: 10px}
.download_wrap .download_title .right .btn{display: inline-block;width: 150px;line-height: 40px;line-height: 40px;text-align: center;border: 1px solid #4179f0;border-radius: 50px;color:#4179f0 }
.download_wrap .download_title .right .btn:hover{background: #4179f0;color: #fff}
.download_wrap .img_list{margin:35px 0;}
.download_wrap .img_list .img_top{overflow: hidden;margin-bottom: 7px} 
.download_wrap .img_list .img_top div{height: 170px;overflow: hidden;}
.download_wrap .img_list .img_top img{max-width: 100%;vertical-align: bottom;}
.download_wrap .img_list .img_top .img01{float: left;width: 42%;margin-right: 1.5%} 
.download_wrap .img_list .img_top .img02{float: left;width: 27%}
.download_wrap .img_list .img_top .img03{float: right;width: 28%}
.download_wrap .img_list .img_bottom{overflow: hidden;} 
.download_wrap .img_list .img_bottom img{max-width: 100%;vertical-align: bottom;} 
.download_wrap .img_list .img_bottom .img_left{float: left;width: 28%;height: 360px;overflow: hidden;} 
.download_wrap .img_list .img_bottom .img_left div{margin-bottom: 7px}
.download_wrap .img_list .img_bottom .img_right{float: right;width: 71%;height: 360px;overflow: hidden;}
.download_wrap .wendang_title{font-size: 20px;color:#4179f0;line-height: 30px;padding-bottom: 15px;border-bottom: 1px dashed rgb(200,200,200)}
.download_wrap .wendang_title .language_wendang{float: right;font-size: 16px;color: #666}
.download_wrap .wendang_title .language_wendang a{color: #666}
.download_wrap .wendang_title .language_wendang a:hover,.download_wrap .wendang_title .language_wendang a.active{color:#4179f0 }
.download_wrap .shouce_list{overflow: hidden;margin: 0px 0 30px;}
.download_wrap .shouce_list li{box-sizing: border-box;float: left;width: 100%;background: url(../images/shouce_icon01.jpg) no-repeat left center;padding: 15px 5%;border-bottom: 1px dashed rgb(200,200,200);font-size: 15px;font-weight: bold;position: relative;}
.download_wrap .shouce_list li img{position: absolute;right: 13px;top: 13px}
.download_wrap .shouce_list li a.href_a{color: #333;display: block;width: 100%;height: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.download_wrap .shouce_list li:hover a{color: #4179f0}
.download_wrap .shouce_list_wrap{display: none}
.download_wrap .shouce_list_wrap.active{display: block;}

.hezuo_wrap{}
.hezuo_wrap .hezuo_list{}
.hezuo_wrap .hezuo_list li{float: left;
    box-sizing: border-box;
    width: 20%;
}
.hezuo_wrap .hezuo_list li .img_wrap{height: 180px;line-height: 180px;text-align: center;border:1px solid rgb(200,200,200);position: relative;}
.hezuo_wrap .hezuo_list li .img_wrap img{vertical-align: middle;max-width: 95%;max-height: 95%}
.hezuo_wrap .pagination{text-align: center;margin-top: 20px}
.hezuo_wrap .pagination a{display: inline-block;width: 10px;height: 10px;font-size: 0;margin:0 5px;border-radius:25px;border: 1px solid rgb(230,10,18)}
.hezuo_wrap .pagination a:hover,.hezuo_wrap .pagination a.selected{background: rgb(230,10,18)}
body.wfEditorMode .hezuo_wrap .hezuo_list li a.wfEditorMode{position: absolute;left: 50%;top: 20px}

.fenghui_wrap{}
.fenghui_wrap .title_cn{font-size: 20px;color:#2b8cd5;text-align: center;margin-bottom: 20px}
.fenghui_wrap .cont_p{}
.fenghui_wrap .cont_p p{font-size: 14px;line-height: 25px;color: #666;margin: 12px 0}
.fenghui_wrap .cont_p img{max-width: 100%}
.fenghui_wrap .cont_p .img_text{text-align: center;line-height: 30px;color: #666}

.testDrive_wrap{}
.testDrive_wrap .title_cn{font-size: 20px;color:#2b8cd5;margin-bottom: 15px}
.testDrive_wrap .testDrive_list{margin-bottom: 40px}
.testDrive_wrap .testDrive_list li{font-size: 15px;color: #333;font-weight: bold;margin: 8px 0;background: url(../images/exhibitor_title_icon.png) no-repeat left center;padding-left: 20px}
.testDrive_wrap .img_Title{font-size: 20px;color: #333;margin-bottom: 15px}

.win_wrap{}
.win_wrap .title_cn{font-size: 20px;color:#2b8cd5;text-align: center;}
.win_wrap .cont_p{}
.win_wrap .cont_p p{font-size: 14px;line-height: 25px;color: #666;margin: 12px 0}
.win_wrap .cont_p ul{}
.win_wrap .cont_p ul li{margin: 8px 0;color: #444;background: url(../images/exhibitor_title_icon.png) no-repeat left center;padding-left: 20px}
.win_wrap .cont_p ul li strong{color: #333}
.win_wrap .img_Title{font-size: 20px;color: #333;margin:30px 0 15px}
.win_wrap .img_list{}
.win_wrap .img_list .img_top{margin-bottom: 15px;overflow: hidden;}
.win_wrap .img_list .img_top img{width: 100%;vertical-align: bottom;}
.win_wrap .img_list .img_top div{float: left;width: 32.5%;margin-right: 1.25%;height: 185px;overflow: hidden;}
.win_wrap .img_list .img_top div.img03{margin-right: 0}
.win_wrap .img_list .img_bottom{overflow: hidden;height: 280px}
.win_wrap .img_list .img_bottom img{width: 100%}
.win_wrap .img_list .img_bottom .img04{float: left;width: 66.25%}
.win_wrap .img_list .img_bottom .img05{float: right;width: 32.5%}

.award{}
.award .title_cn{font-size: 20px;color:#2b8cd5;text-align: center;}
.award .cont_p{}
.award .cont_p p{font-size: 14px;line-height: 25px;color: #666;margin: 12px 0}
.award .cont_p img{max-width: 100%}
.award .cont_p .img_text{text-align: center;line-height: 30px;color: #666}

.pair{}
.pair .cont_p{}
.pair .cont_p p{font-size: 15px;line-height: 25px;color: #333}
.pair .title_cn{font-size: 20px;color: #333;margin:30px 0 15px}


.traffic_wrap{}
.traffic_wrap .traffic_cont{overflow: hidden;background: rgb(243,246,249);margin-bottom: 40px} 
.traffic_wrap .traffic_cont .left{float: left;width:57%} 
.traffic_wrap .traffic_cont .left .bg{vertical-align: bottom;width: 100%}
.traffic_wrap .traffic_cont .right{float: right;width: 43%;} 
.traffic_wrap .traffic_cont .right .traffic_top{padding: 25px;border-bottom: 1px solid rgb(220,220,220)}
.traffic_wrap .traffic_cont .right .traffic_top .text_title{position: relative;font-size: 16px;margin-bottom: 25px;line-height: 25px;color: #444;padding-left: 50px}
.traffic_wrap .traffic_cont .right .traffic_top .text_title strong{position: absolute;left: 0;top: 0}
.traffic_wrap .traffic_cont .right .traffic_bottom_list{padding: 25px;}
.traffic_wrap .traffic_cont .right .traffic_bottom_list li{font-size: 15px;color: #444;padding: 4px 0}
.traffic_wrap .traffic_list{} 
.traffic_wrap .traffic_list .main_li{border: 1px solid rgb(220,220,220);margin-bottom: 30px}
.traffic_wrap .traffic_list .main_li.active .show{color: #2b8cd5;background: url(../images/hotel_jian.png) no-repeat 97% center;}
.traffic_wrap .traffic_list .main_li .show{padding: 20px;font-size: 16px;font-weight: bold;cursor:pointer;color: #333;background: rgb(231,237,245) url(../images/hotel_jia.png) no-repeat 97% center;}
.traffic_wrap .traffic_list .main_li .hidden{padding: 20px;display: none;overflow: hidden;}
.traffic_wrap .traffic_list .main_li .hidden p{font-size: 15px;color: #333;line-height: 25px;}



        input::-webkit-input-placeholder{
            color:rgb(180,180,180);
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:rgb(180,180,180);
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:rgb(180,180,180);
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:rgb(180,180,180);
        }

.online_wrap .more_list{margin: 20px 0}
.online_wrap .more_wrap{position: relative;}
.online_wrap .more_list li{display: inline-block;width: 24%;vertical-align: top; margin: 10px 0;}
.online_wrap .more_list li a{color: #333;font-size: 15px;font-weight: bold;}
.online_wrap .more_list li.active a,
.online_wrap .zh_themes_list li.active a{color: #28a6e0;}

.online_wrap .more_list li.read_more{width: 100px;height: 30px;line-height: 30px;text-align: center;border: 1px solid rgb(220,220,220);color: #333;cursor:pointer;} 
.online_wrap .more_list li.read_more:hover{background: #4179f0;color: #fff;border-color: #4179f0}



.sidebar_pdflist{margin-top: 10px}
.sidebar_pdflist li{padding: 15px 0;padding-left: 40px;background: url(../images/pdf_icon.png) no-repeat left center}
.sidebar_pdflist li a{font-size: 15px;color: #222}
.sidebar_pdflist li a:hover{color: #4179f0}



.searchform .input01 {width: 400px;height: 30px;border: 1px solid rgb(200,200,200);float: left;line-height: 30px;font-size: 15px;color: #666;padding-left: 10px;}
.searchform .input02 {width: 100px;height: 32px;float: left;background: #4179f0;border: none;color: #fff;font-size: 15px;cursor: pointer;}
.formwrap {text-align: center;margin-top: 100px;}
.searchform {display: inline-block;}
.search-result-empry, .search-keyword-error-too-short, .search-error {text-align: center;margin: 20px auto 300px;font-size: 15px;color: #666;}
.resultwrap {margin: 50px auto 200px;}
.results {width: 1200px; margin: 0 auto;padding: 20px 0;border-bottom: 1px solid rgb(220,220,220);}
.results .title {font-size: 16px;color: #333;line-height: 35px;}
.results .title:hover{color: #4179f0}

.xuanfu{position: fixed;right: 5px;top: 50%;z-index: 3;margin-top: -160px}
.xuanfu .xuanfu_list{}
.xuanfu .xuanfu_list li{width: 60px;height: 60px;background:url(../images/xuanfu_bg.png);text-align: center;line-height: 60px;margin: 5px 0;position: relative;cursor: pointer;}
.xuanfu .xuanfu_list li img.icon_active{display: none;}
.xuanfu .xuanfu_list li:hover{background: #fff;box-shadow: 0 0 5px #888}
.xuanfu .xuanfu_list li:hover img.icon_active{display: inline-block;}
.xuanfu .xuanfu_list li:hover img.icon{display:none;}
.xuanfu .xuanfu_list li img{vertical-align: middle;}
.xuanfu .xuanfu_list li a{display: inline-block;width: 100%;height: 100%}
.xuanfu .xuanfu_list li .xuanfu_wx{padding: 5px 10px;position: absolute;right: 60px;top: 0;box-shadow: 0 0 5px #888;background: #fff;display: none;}
.xuanfu .xuanfu_list li .xuanfu_wx .wx_title{line-height: 40px;color: #333;font-size: 15px;font-weight: bold;}
.xuanfu .xuanfu_list li:hover .xuanfu_wx{display: block;}
body.wfEditorMode .xuanfu .xuanfu_list li a.wfEditorMode{position: relative;z-index: 222;line-height: normal;height: 20px}
.xuanfu .xuanfu_list li.totop{display: none;} 
.xuanfu .xuanfu_list li .xuanfu_text{position: absolute;display: none;width:200%;box-shadow: 0 0 5px #888;height: 100%;right: 100%;background:#fff;top: 0;color: #333;font-size: 14px;font-weight: bold;}
.xuanfu .xuanfu_list li:hover .xuanfu_text{display: block;}


.inside_content .inside_right .inside_right_title .zhengwen_href{display: inline-block;font-size: 16px;background: #f39800;color: #fff;float: right;margin-top: 4px;padding: 14px 28px;vertical-align: middle;border: 1px solid #f39800;line-height: normal;border-radius: 50px}
.inside_content .inside_right .inside_right_title .zhengwen_href:hover{background: none;color: #555}

.huiyi_wrap{margin-bottom: 20px}
.huiyi_wrap p{font-size: 14px;line-height: 25px;color: #666;margin-bottom: 10px}
.huiyi_wrap p strong{font-weight: bold;}
.zhuban_wrap p{font-size: 14px;line-height: 25px;color: #666;margin-bottom: 10px}
.zhuban_wrap p a{color: #2b8cd5;font-weight: bold;font-size: 16px}
.zhuban_wrap .zhuban01{margin-bottom: 30px}


.traffic_wrap .traffic_cont .right .traffic_top .text_title.text-fw {
    font-size: 22px;
    font-weight: bold;
    padding-left: 0;
    margin-bottom: 10px;
}
.table_last{margin: 30px 0}
.table_last table{width: 100%;text-align: center;border: 1px solid rgb(220,220,220);}
.table_last table tr th,.table_last table tr td{border:1px solid rgb(220,220,220);text-align: center; padding:15px 0;color: #084285;width: 14.2%}
.table_last table tr td p{color: #084285;line-height: 23px}
.table_last table tr td  strong{font-weight: bold;}
.table_last table tr th{color: #fff;background: #084285}
.table_last table tr th:nth-of-type(2n){background: #003476}

.model_box {width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);position: fixed;top: 0;left: 0;z-index: 9999;display: none;}
.model_box .content_box {position: absolute;top: 50%;left: 50%;
    /* margin-top: -300px;margin-left: -600px; */
    background: #ffffff;z-index: 999;
    padding: 60px 50px 30px;box-sizing: border-box;overflow: hidden;
    width: 1000px;
    height: 80%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.model_box .content_box .close {width: 40px;height: 40px;background: url(../images/poput_close.png) no-repeat center center;cursor: pointer; position: absolute;top: 20px;right: 30px;}

#Mycanvas {
    position: absolute;
    z-index : -1;
}



.table_list {
    display: none;
  }
  .table_list.active {
    display: block;
  }

  table td {
    cursor: pointer;
  }
  .schedule_wrap .table_list li table td p.color-black {
    color: #333;
  }

  #newBridge .icon-right-center {
      right: 0!important;
      margin-top: 160px!important;
  }










  .pr {
      position: relative;
  }

  .model-box {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      display: none;
  }
  .shakow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
  }
  .model-body {
      position: absolute;
      left: 50%;
    top: 50%;
    width: 50%;
    height: 600px;
    background: #fff;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 50px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 1000px) {
    .model-body {
        width: 80%;
    }
  }
  .model-info {
      height: 500px;
  }
  .model-close {
      position: absolute;
      right: 30px;
      top: 20px;
      width: 16px;
      height: 16px;
      background: url(../images/poput_close.png) no-repeat;
      background-size: cover; 
      cursor: pointer;
  }
  .model-text p {
      font-size: 18px;
      line-height: 30px; 
      margin-bottom: 15px;
  }
  .model-title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 15px;
  }





  #map{width: 100%;height: 466px;
    /* margin-bottom: 30px */
}

  .traffic_bottom_list p {
      margin-bottom: 10px;
  }
  .traffic_bottom_list p strong {
    font-weight: bold;
  }

  .f-div {
      margin-bottom: 50px;
  }
  /* .f-div.alt {
      margin-top: 80px;
  } */
  .table_list table td.active1 {
    background: #036eb8;
  }
  .table_list table td.active2 {
    background: #ae71a6;
  }
  .table_list table td.active3 {
    background: #84bae5;
  }
  .table_list table td.active4 {
    background: #4ebbaa;
  }
  .table_list table td.active5 {
    background: #e60012;
  }
  .table_list table td.active6 {
    background: #fcc800;
  }
  .table_list table td.active7 {
    background: #417611;
  }
  .table_list table td.active8 {
    background: #f39939;
  }
  .table_list table td.active9 {
    background: #fff;
  }
  .table_list table td.active10 {
    background: rgb(237, 80, 49);
  }
  .table_list table td.active11 {
    background: rgb(244, 176, 132);
  }
  .table_list table td.active12 {
    background: rgb(243, 159, 133);
  }
  .table_list table td.active13 {
    background: #3dd4a7;
  }
  .table_list table td.active14 {
    background: rgb(255, 255, 45);
  }
  .table_list table td.active15 {
    background: rgb(137, 243, 57);
  }
  .table_list table td.active16 {
    background: rgb(67, 85, 85);
  }
  .table_list table td.active17 {
    background: rgb(133, 3, 39);
  }
  .table_list table td.active18 {
    background: rgb(213, 79, 247);
  }
  .table_list table td.active19 {
    background: rgb(44, 90, 52);
  }
  .table_list table td.active20 {
    background: rgb(132, 58, 2);
  }
  .technical_theme .theme_list .main_li .hidden table tr td:first-child {
      text-align: left;
      padding-left: 15px;
  }

  .a-m {
    position: absolute;
    left: 0;
    top: -73px;
    width: 100%;
    }

  /* 2018-12-29 */
  body.wfEditorMode .inside_banner a.wfEditorMode {
    position: absolute;
    display: block;
    height: 1.3em;
    line-height: 1.3em;
    float: none;
    top: 20px;
    right: 0;
    margin: 0;
    padding: 0 0.5em;
    background: white;
    color: #99ccff;
    margin-top: 0;
}
  /* 2018-12-29 */












































































































































































































































































































































































































































































































































































































